@model Repository.Car

@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarName" class="control-label"></label>
                <input asp-for="CarName" class="form-control" />
                <span asp-validation-for="CarName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Color" class="form-control form-control-lg">
                    <option>black</option>
                    <option selected>white</option>
                    <option>red</option>
                    <option>grey</option>
                    <option>blue</option>
                    <option>ink color</option>
                    <option>light blue</option>
                    <option>green</option>
                    <option>gold</option>
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <input class="custom-file-input" type="file" name="files" id="Custom-file"/>
                <label class="custom-file-label" for="Custom-file">Choose File</label>
                <span style="color:red">@ViewBag.message</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img src="~/Photos/rasm.jpg" style="height:100%;width:100%;"/>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
